apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-{{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ .Values.service.name }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}

